header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userIDForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#userIDForm > label,
#userIDForm div,
#userIDForm > input,
#userIDForm > button{
    margin: 0 3px;
}
.user{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    justify-items: center;
    text-align: center;
}
.user .picture{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pix{
    width: 100%;
    height: auto;
}
.user .namecontainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.user .company{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.user .address{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}